*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: rgb(0, 255, 0);
    --background: rgb(24, 24, 24);
    --second-background: rgb(21, 21,21);
}

body{
    min-height: 100vh;
    background-color: var(--background);
}

nav{
    position: fixed;
    top:0;
    width: 100%;
    padding: 2em 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    backdrop-filter: blur(10px);
    z-index: 1000;
}
ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}
nav ul a{
    color: white;
    opacity: 0.8;
    transition: 0.2 ease-in-out;
}
nav ul a:hover{
    opacity: 1;
}
.logo{
    font-size: 2em;
    color: white;
    font-weight: 800;
    opacity: 0.9;
    transition: 0.2s ease-in-out;
}
.logo:hover{
    opacity: 1;
}
.btn{
    padding: 0.5em 1em;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.1em;
    border: 2px solid blue;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background: linear-gradient(to right, #6cff52, #3ec5ff);
    background-clip: text;
    color: transparent;
}
#menu{
    color: white;
    font-size: 3em;
    display: none;
}
<!----home section styling------->
section{
    min-height: 100vh;
    padding: 5% 15%;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
}
#home img{
    width: 18vw;
    border-radius: 50%;
    margin-top: 8em;
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 800px;
}
.info-box h1{
    font-size: 2.5em;
    font-weight: 400;
}
.info-box h3{
    font-size: 1.5em;
    font-weight: 450;
}
.info-box p{
    opacity: 0.9;
}
.btn-box{
    display: flex;
    gap: 1em;
}
.btn-box .btn:nth-of-type(2){
    background-color: white;
    color: var(--background);
}
.btn-box .btn:nth-of-type(2):hover{
    background-color: var(--background);
    color: white;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: var(--background);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #6cff52, #3ec5ff);
}

<!------about section styling------>
#about{
    margin-left: 1em;
    display: flex;
    background-color: var(--second-background);
    align-items: center;
    justify-content: center;
    gap: 5em;
} 
#about img{
    width: 30vh;
    border-radius: 1em;
}
.about-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
} 
.about-box h1{
    font-size: 2.5em;
    color: #6cff52;
}
.about-box p{
    color: white;
    opacity: 0.9;
} 
.skills{
    display: flex;
    text-align: left;
    gap: 10em;
}
.skills ul{
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0.9;
    align-items: baseline;
}
.skills ul li span{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.6em;
    transition: 0.2s ease-in-out;
}
.skills ul li span:hover{
    transform: translate(10px);
}
.skills ul li i{
    font-size: 1.2em;
}
.about-box h2{
    font-size: 2.5em;
    color: #6cff52;
} 

<!------education section styling------>
.heading{
    font-size: 4em;
    text-align: center;
    margin: 3em 0;
}
.education{
    padding: 100px 15px;
    background: var(--background);
}
.education h2{
    font-size: 2.5em;
    color: #6cff52;
    text-align: center;
    margin-bottom: 3em;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 40px);
}
.timeline-dot{
    height: 20px;
    width: 20px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 5px;
}
.timeline-date {
    font-size: 2em;
    font-weight: 500;
    color: white;
    margin: 8px 0 15px;
}
.timeline-content{
    background-color: var(--background);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4em;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.1);
    box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3{
    font-size: 2em;
    color: rgb(100, 220, 224);
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    color: white;
    font-size: 1em;
    font-weight: 400;
    line-height: 20px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--main-color);
    width: 5px;
}
<!------services section styling------>
#services{
    background-color: var(--background);
}
#services h1 span{
    font-size: 2em;
    color: #6cff52;
}
.header{
    text-align: center;
    font-weight: 4em;
    margin: 0.5em 0;
}
.services-container{
    display: flex;
    grid-template-columns: repeat(auto-fit, mimmax(250px, 1fr));
    gap: 2em;
}
.box{
    border: 3px solid blue;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3em;
    gap: 2em;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
} 
.box:hover{
    border: 3px solid darkblue;
}
.box p{
    opacity: 0.8;
}
.box h1{
    font-size: 2em;
}
.box img{
    min-width: 25px;
    border-radius: 0.5em;
}

<!------contact section styling------>
#contact{
    background-color: var(--background);
}
#contact h1 span{
    font-size: 2em;
    color: #6cff52;
}
.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
form .input-box{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;
}
.input-box span{
    font-size: 1.5em;
    font-weight: 800;
    color: white;
}
.msg p span{
    padding-bottom: 20px;
    font-size: 1em;
    font-weight: 800;
    color: rgb(170, 247, 150);
}
.msg textarea{
    width: 100%;
    padding: 3rem;
    font-size: 1.5em;
    color: black;
    border: 3px solid blue;
    border-radius: 0.5em;
}
form input{
    font-size: 1.3em;
    padding: 1em 5em;
    border-radius: 0.6em;
    border: none;
    outline: none;
}
form input:focus{
    background: rgb(229, 229, 229);
}
<!------footer section styling------>
.footer{
    position: relative;
    bottom: 4px;
    width: 100%;
    padding: 40px 0;
    background-color: var(--background);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 2em;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 40px 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translate(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}
.footer .copyright{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: white;
}

@media(max-width: 968px){
    section{
        padding: 8em 15%;
    }
    nav .btn{
        display: none;
    }
    #menu{
        display: block;
    }
    .links{
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1em 3em;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: black;
        display: none;
    }
    .links a{
        margin: 2em 0;
        display: block;
        font-size: 1.5em;
        color: white;
    }
    .links.active{
        display: block;
    }
    #home h1{
        font-size: 4em;
    }
    #home h3{
        font-size: 2em;
    }
    #home img{
        width: 25vh;
    }
    #about{
        flex-direction: column;
    }
    #about img{
        width: 33vh;
    }
    #about h1{
        font-size: 3em;
    }
    #about ul{
        font-size: 1em;
    }
}
@media(max-width:768px){
    #home h1{
        font-size: 2.5em;
    }
    #home h2{
        font-size: 1.5em;
    }
    #home img{
        width: 13vh;
    }
    #about .skills{
        gap: 3em;
    }
    .box{
        display: block;
    }
    #services .header{
        font-size: 3em;
    }
    #contact .header{
        font-size: 3em;
    }
    #contact .input-box span{
        font-size: 1.2em;
    }
    .input-box img{
        padding: 0.5em 1em;
    }
    footer{
        flex-direction: column;
        gap: 5em;
        align-items: baseline;
    }
}


